# Masukan APP ID ambil di web my.telegram.org
API_KEY = "19907552"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "5598ed7a5d73df0a8f8d34821401ddd0"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOIYBuxO4J8b6B98OUYJct1dN2fpzoiOf3GAxTlq4cQDNMYLYrdLa2S1dS2rpov8afCyDZtHtqAtACnXfZZnyIOkVF-E9Xu5EiI881Gd3HXkc2YjCqzQZjlffaqywuQ5gYRgyKRW8wexYwpw7HSeEPAdB7sUJqmXhbYZOi3KwR5OsNUhgEqbmOFT25QO0efa_EPKVUynYHQaUilkeqf62ID9k42eOetIv0ztMVrOnwTknc-e_P3KzJPOj_tDq3rBUBllg-YmHkanDwCetgSc2nF4wj5yZmjNVZTvAI-RQJ7ccit5FzE1mhuwiYx07LwtlZ1GEHmGu5IfCVjYHHnf6w6CWU0E="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5501926162:AAE86DnEIgt1ZKXQHmoroA4OpzR3VI7555U"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -100 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://wefclujd:U0ciAElmhvvKDN2VWUiHXymL4TPl080p@peanut.db.elephantsql.com/wefclujd"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = True

